extends layout

block content
  h1.appTitle Smart Roster
  div.app-logo
    img(src="/images/smartroster.jpg", alt="llogo of application")
  p 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis veritatis quaerat porro impedit qui! Iusto voluptates, quasi enim animi sit consectetur exercitationem corrupti error, consequuntur ab dolore laboriosam ad.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ducimus reprehenderit nam ratione? Deserunt, ea asperiores, ullam iste quos cumque expedita recusandae minima vero esse molestiae sequi maiores tempore harum distinctio iure, facilis delectus! Necessitatibus, recusandae voluptatibus optio, ad enim distinctio laboriosam harum at ipsa atque iure, aspernatur sapiente cumque?
